html,body{
    width: 100%;
    height: 100%;
    margin: 0;

    padding: 0;
}


//Import de la police High Tower Text

@font-face {
    font-family:'HTOWERT';
    src: url(../fonts/HTOWERT.TTF);
}

//HEADER
header{
    width: 100%;
    background-color: #191919;
    color: white;
    height: 100px;
}

//CONTAINER DU SITE
.container{
    width: 100%;
    
}

//CONTENT HOME
.content-home{
    height: 100%;
    margin-top: 0;
    background-image: url(../img/background.png);
    
    p{
        font-family: 'HTOWERT';
        margin-top: 0;
    }

    h1{
        font-family: 'Lora', serif;
        margin-top: 0;
        color: white;
    }

}

//CONTENT ENTREPRISE
.content-entreprise{
    background-color: #191919
}