@charset "UTF-8";
@font-face {
  font-family: 'HTOWERT';
  src: url(../fonts/HTOWERT.TTF);
}

html,
body {
  background-color: #191919;
}

html p,
body p {
  font-family: 'HTOWERT';
  color: white;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #191919;
}

.container-left {
  width: 10%;
}

.container-left .sidebar {
  height: 100%;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  background-color: #191919;
}

.container-left .sidebar ul {
  width: 100%;
}

.container-left .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.container-left .buttons li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.container-left .btn1 {
  font-size: 3em;
  color: #FFA7A6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container-left .btn1:hover {
  background-color: #FFA7A6;
}

.container-left .btn1:hover .btn1clr {
  color: white;
}

.container-left .btn1clr {
  color: #FFA7A6;
}

.container-left .btn2 {
  font-size: 3em;
  color: #AFFBFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container-left .btn2:hover {
  background-color: #AFFBFF;
}

.container-left .btn2:hover .btn2clr {
  color: white;
}

.container-left .btn2clr {
  color: #AFFBFF;
}

.container-left .btn3 {
  font-size: 3em;
  color: #CFFF99;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container-left .btn3:hover {
  background-color: #CFFF99;
}

.container-left .btn3:hover .btn3clr {
  color: white;
}

.container-left .btn3clr {
  color: #CFFF99;
}

.container-left .btn4 {
  font-size: 3em;
  color: #A68BE8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container-left .btn4:hover {
  background-color: #A68BE8;
}

.container-left .btn4:hover .btn4clr {
  color: white;
}

.container-left .btn4clr {
  color: #A68BE8;
}

.container-left .btn5 {
  font-size: 3em;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container-left .btn5clr {
  color: white;
}

.container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  background-color: #191919;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  width: 100%;
  background-color: #191919;
  color: white;
  height: 40px;
  font-size: 13px;
}

.header p {
  margin-left: 5px;
  margin-top: 0;
}

.header .neuves {
  font-size: 22px;
  margin-left: 5px;
}

.content-home {
  height: 100vh;
  width: 100%;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content-home h2 {
  font-family: 'Lora', serif;
  text-align: center;
  margin-top: 110px;
  color: black;
  font-size: 3em;
  font-weight: bold;
}

.content-home .neuves-home {
  font-size: 3.5em;
  text-align: center;
  color: black;
  font-family: 'Lora', serif;
  font-weight: bold;
}

.content-home .arrow {
  font-size: 3em;
  text-align: center;
  margin-top: 400px;
}

.content-home .fas {
  color: #FFA7A6;
}

.content-entreprise {
  width: 100%;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.equipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0px 20px 20px;
  min-height: 600px;
}

.realisation-equipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

.realisation-equipe p {
  font-size: 2.5em;
}

.realisation-equipe .content-ri {
  width: 170%;
  text-align: center;
}

.realisation-equipe .content-en {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.realisation-equipe .content-en .fas {
  font-size: 3em;
  color: #AFFBFF;
}

.image-equipe {
  width: 70%;
  min-height: 300px;
  background-image: url(../img/Equipe.PNG);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.plan-archi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 400px;
}

.image-plan {
  width: 50%;
  background-image: url(../img/plan_archi.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.creation {
  width: 50%;
  height: 100%;
}

.creation p {
  font-size: 2.5em;
  margin-top: 150px;
  margin-left: 80px;
}

.macon-construction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
}

.construisons {
  width: 50%;
  height: 100%;
}

.construisons p {
  font-size: 2.5em;
  margin-top: 150px;
  margin-left: 80px;
}

.macon-image {
  width: 50%;
  background-image: url(../img/Construisons.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.reves-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
}

.reve {
  width: 50%;
  background-image: url(../img/Rendu_clé.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.vos-reves {
  width: 50%;
  height: 100%;
}

.vos-reves p {
  font-size: 2.5em;
  margin-top: 150px;
  margin-left: 80px;
}

.content-projet {
  width: 100%;
  min-height: 600px;
  background-color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.maison-texte-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  margin-top: 200px;
  width: 100%;
  margin-right: 10%;
}

.maison-texte {
  width: 50%;
  height: 100%;
  text-align: center;
}

.maison-texte p {
  font-size: 2.5em;
  margin-top: 150px;
  margin-left: 80px;
}

.maison-image {
  width: 50%;
  text-align: right;
}

.maison-image img {
  -webkit-box-shadow: 0px 0px 80px -5px lightgrey;
          box-shadow: 0px 0px 80px -5px lightgrey;
}

.demeure-texte-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: 5%;
}

.demeure-texte {
  width: 50%;
  height: 100%;
  text-align: center;
}

.demeure-texte p {
  font-size: 2.5em;
  margin-top: 150px;
  margin-left: 80px;
}

.demeure-image {
  width: 50%;
}

.chateau-texte-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 10%;
}

.chateau-texte {
  width: 50%;
  height: 100%;
  text-align: center;
}

.chateau-texte p {
  font-size: 2.5em;
  margin-top: 150px;
  margin-left: 80px;
}

.chateau-image {
  width: 50%;
  height: 100%;
  text-align: right;
}

.chateau-image img {
  -webkit-box-shadow: 0px 0px 80px -5px lightgrey;
          box-shadow: 0px 0px 80px -5px lightgrey;
}

.building-texte-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  min-height: 700px;
  text-align: center;
}

.building-texte-image p {
  font-size: 2.5em;
}

.building-texte {
  text-align: center;
  width: 100%;
}

.building-texte p {
  font-size: 2.5em;
  margin-top: 100px;
}

.building-image {
  width: 100%;
  min-height: 650px;
  background-image: url(../img/building.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-contact {
  width: 100%;
  height: 300px;
  background-color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-contact p {
  font-size: 1.5em;
  padding: 5px;
}

.box-plan-texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.plan-texte {
  width: 50%;
  height: 100%;
  background-color: #191919;
  text-align: center;
}

.plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
}

.formulaire {
  margin: 20px 0px 30px 110px;
  background-color: #191919;
}

.formulaire p {
  font-family: 'HTOWERT';
  color: white;
  margin-bottom: 50px;
  font-size: 1.5em;
}

.formulaire form {
  width: 55%;
}

.formulaire .form input {
  display: block;
  font-family: 'Roboto', sans-serif;
}

.formulaire .inputbasic {
  width: 40%;
  padding: 7px;
  -webkit-transition: 0.5ms;
  transition: 0.5ms;
  font-family: 'Roboto', sans-serif;
  border: 1.4px solid;
  border-radius: 10px;
  background-color: #e7e6e6;
  outline: none;
}

.formulaire input:invalid:focus,
.formulaire textarea:invalid:focus {
  border-color: #FF0000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.formulaire input:valid:focus,
.formulaire textarea:valid:focus {
  border-color: #56c93f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.formulaire .message {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100px;
  padding: 7px;
  border: 1.4px solid;
  border-color: lightgrey;
  border-radius: 10px;
  background-color: #e7e6e6;
  outline: none;
}

.formulaire #submit {
  width: 100px;
  height: 30px;
  margin-top: 15px;
  border: 0px solid;
  border-radius: 25px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #e7e6e6;
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}

.formulaire #submit:hover {
  background-color: #191919;
  color: white;
  border: 1px solid lightgrey;
}

.footer {
  width: 60%;
  height: 35px;
  margin-left: 20%;
  padding: 7px;
  text-align: center;
  color: white;
  background-color: #191919;
  border-top: 2px solid white;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 680px) {
  .container-left {
    display: none;
  }
  .container-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .header {
    text-align: center;
  }
  .content-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .equipe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/*# sourceMappingURL=main.css.map */