html,
body {
  color: white;
}

html p,
body p {
  font-family: 'HTOWERT';
}

.container {
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@font-face {
  font-family: 'HTOWERT';
  src: url(../fonts/HTOWERT.TTF);
}

.container-left {
  width: 10%;
}

.sidebar {
  height: 100px;
  background-color: #191919;
  height: 100%;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  background-color: #191919;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  width: 100%;
  background-color: #191919;
  color: white;
  height: 40px;
  font-size: 13px;
}

.header p {
  margin-left: 5px;
  margin-top: 0;
}

.header .neuves {
  font-size: 22px;
  margin-left: 5px;
}

.content-home {
  min-height: 680px;
  width: 100%;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content-home h2 {
  font-family: 'Lora', serif;
  text-align: center;
  margin-top: 110px;
  color: black;
  font-size: 3em;
  font-weight: bold;
}

.content-home .neuves-home {
  font-size: 3.5em;
  text-align: center;
  color: black;
  font-family: 'Lora', serif;
  font-weight: bold;
}

.content-entreprise {
  width: 100%;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.equipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.realisation-equipe {
  width: 50%;
  height: 100%;
}

.realisation-equipe p {
  font-size: 2.5em;
  margin-top: 150px;
  margin-left: 80px;
}

.image-equipe {
  width: 50%;
  height: 100%;
}

.image-equipe img {
  max-width: 100%;
}

.content-projet {
  width: 100%;
  height: 100px;
  background-color: violet;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.maison-texte {
  width: 50%;
  height: 100%;
  background-color: lime;
}

.maison-image {
  width: 50%;
  height: 100%;
  background-color: #782aa5;
}

.content-contact {
  width: 100%;
  height: 400px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plan-texte {
  width: 100%;
  height: 400px;
  background-color: black;
}

.plan {
  width: 50%;
  min-height: 300px;
  background-color: black;
  margin: 60px 20px 30px 0px;
}

.footer {
  height: 35px;
  padding: 7px;
  text-align: center;
  color: white;
  background-color: #191919;
}
/*# sourceMappingURL=main.css.map */